<?xml version="1.0"?>
<config>
	<modules>
		<Cloudswork_Lazyimageloader>
			<version>0.1.0</version>
		</Cloudswork_Lazyimageloader>
	</modules>
	<global>
		<helpers>
			<lazyimageloader>
				<class>Cloudswork_Lazyimageloader_Helper</class>
			</lazyimageloader>
		</helpers>
	</global>
	<frontend>
		<layout>
			<updates>
				<lazyimageloader>
					<file>cw_lazy_image_loader.xml</file>
				</lazyimageloader>
			</updates>
		</layout>
	</frontend>
	<default>
		<lazyimageloader>
			<config>
				<speed>500</speed>
				<timeout>1000</timeout>
			</config>
		</lazyimageloader>
	</default>
</config>